* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #0B1414;
  --secondary: #545a5a;
  --accent: #9DA1A1;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: var(--secondary);
  background-color: var(--primary);
}

a {
  color: inherit;
  text-decoration: none;
  cursor: auto;
  outline: 0;
  width: 10rem;
  height: 10rem;
}

#container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#inner {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.icon {
  width: 3rem;
  height: 3rem;
  filter: invert(50%);
}

.title {
  color: var(--accent);
  margin-top: 1rem;
}

.button {
  cursor: pointer;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  width: 10rem;
  height: 10rem;
}

@media(max-width: 700px) {
  #inner {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media(max-width: 500px) {
  #inner {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media(max-width: 350px) {
  #inner {
    grid-template-columns: repeat(1, 1fr);
  }
}